@model Tweeter.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>
<section ng-controller="FormCtrl">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary("", new { @class = "text-danger" });
        <div>@Html.TextBoxFor(m => m.Username, "", new { placeholder = "Username", name = "username", maxlength = "20" })</div>

        <div>@Html.TextBoxFor(m => m.Email, "", new { placeholder = "Email", name = "email", maxlength = "30" })</div>

        <div>@Html.PasswordFor(m=> m.Password, new { placeholder = "Password", name = "password" })</div>
        <div>@Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", name = "password_validation" })</div>
        <button class="btn" ng-click="formSubmit($event, user)">Submit</button>
    }
    @{ Html.EndForm();}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
